@import './styles/dependencies.css';

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-light-blue: #61dafb;
  --c-primary: var(--c-light-blue);
}

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:global {
  & #app {
    height: 100%;
  }
}
